h1 {
  font-family: Impact;
  color: purple;
  text-align: center;
  font-size: 60px;
}

h3 {
  font-family: Impact;
  color: Purple;
  font-size: 30px;
  text-align: center;
  border-style: dotted;
  border-width: 3px;
  margin: 60px auto;
  padding: 10px 5px 10px 5px;
  width: auto;
  background-color: #FFE1FF;
  border-radius: 10px;
}

p {
  text-align: justify;
  font-family: Arial;
  font-size: 20px;
  color: black;
}

.container {
  display: flex;
}

.main {
  width: 65%;
}

.sidebar {
  width: 33%;
  padding: 10%;
}

.photo {
  width: 100%;
  border-radius: 50%;
}

th {
  font-family: Impact;
  font-size: 30px;
  color: purple;
  margin-top: 30px;
  text-align: center;
}

ul {
  font-size: 20px;
  font-family: Arial;
  color: black;
}

.contacts {
  text-align: left;
  border-style: dotted;
  border-width: 3px;
  margin: 60px auto;
  padding: 10px 10px 10px 10px;
  width: auto;
  background-color: #FFE1FF;
  border-radius: 10px;
  margin-left: 20px
}

li {
  padding: 10px 5px 10px 5px
}

hr {
  border-style: dotted;
  border-width: 3px;
  color: purple;
}
