* {
    background-image: url(http://subtlepatterns.com/patterns/stardust.png);

}
h1 {
  font-family: Impact;
  color: #fec0a1;
  text-align: center;
  font-size: 60px;
}

h3 {
  font-family: Impact;
  color: #fec0a1;
  font-size: 30px;
  text-align: center;
  border-style: dotted;
  border-width: 3px;
  margin: 60px auto;
  padding: 10px 5px 10px 5px;
  width: auto;
  background-color: #FFE1FF;
  border-radius: 10px;
}

p {
  text-align: justify;
  font-family: Arial;
  font-size: 20px;
  color: #fcfcfc;
}

.container {
  display: flex;
}

.main {
  width: 65%;
}

.sidebar {
  width: 33%;
  padding: 10%;
  align-items: center;
}

.photo {
  width: 50%;
  border-radius: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

th {
  font-family: Impact;
  font-size: 30px;
  color: #fec0a1;
  margin-top: 30px;
  text-align: center;
}

ul {
  font-size: 20px;
  font-family: Arial;
  color: #fefefe;
  text-align: ce
}

.contacts {
  text-align: left;
  border-style: dotted;
  border-width: 3px;
  margin: 60px auto;
  padding: 10px 10px 10px 10px;
  width: auto;
  color: #fec0a1;
  background-color: #FFE1FF;
  border-radius: 10px;
  margin-left: 20px
}

li {
  padding: 10px 5px 10px 5px
}

hr {
  border-style: dotted;
  border-width: 3px;
  color: #fec0a1;
}
